<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Compiled and minified CSS -->
<link href="/css/materialize.css" th:href="@{/css/materialize.css}" rel="stylesheet"></link>
<!-- Compiled and minified JavaScript -->
<script src="/js/materialize.js" th:src="@{/js/materialize.js}"></script>
<!-- Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
</head>
<body>
<script>
 $(document).ready(function(){
      $('.carousel').carousel();
    });
 </script>
 <div class="carousel">
    <a class="carousel-item" href="#one!"><img src="https://lorempixel.com/250/250/nature/1"></img></a>
    <a class="carousel-item" href="#two!"><img src="https://lorempixel.com/250/250/nature/2"></img></a>
    <a class="carousel-item" href="#three!"><img src="https://lorempixel.com/250/250/nature/3"></img></a>
    <a class="carousel-item" href="#four!"><img src="https://lorempixel.com/250/250/nature/4"></img></a>
    <a class="carousel-item" href="#five!"><img src="https://lorempixel.com/250/250/nature/5"></img></a>
  </div>
  <span th:text="${value}"></span><br></br>
  
  <tr th:each="list : ${stList}">
    <td th:text="${list}"></td><br></br>
  </tr>
  
  <tr th:each="list : ${sampleEntityList}">
    <td th:text="${list.id}"></td><br></br>
    <td th:text="${list.lastName}"></td><br></br>
    <td th:text="${list.firstName}"></td><br></br>
  </tr>
</body>
</html>
